﻿@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message <a href='mailto:allanhoward@gmail.com'>Allan Howard</a></h3>

<address>
    Allan Howard<br />
    Atlanta, GA 30331<br />
    <abbr title="Phone">P:</abbr>
    917.992.6234
</address>

<address>
    <strong>Support:</strong>   <a href='mailto:allanhoward@gmail.com'>Allan Howard</a>    
</address>