﻿@model List<TurnerFlix.Models.TitleViewModel>
@{
    ViewBag.Title = "Shows";
}

<div class="jumbotron">
    <h1>Shows</h1>
    <p class="lead">Welcome to TurnerFlix a place where you can find movie and show titles.</p>


    <div class="search-box">
        <form method="post" action="#" class="search" id="searchForm">
            <input id="searchKey" type="text" class="search-field" placeholder="enter your keyword...">
            <input type="submit" class="btn btn-primary btn-lg search-btn" value="Search">
        </form>
    </div>
</div>

<div id="rowContainer">
</div>

<div id="titleDetail">
    <h2>Batman Begins</h2>
    <div class="description" style="margin: 10px 10px 25px; padding-bottom: 5px; border-bottom: 1px solid #ec008c">
        <span class="year">2005</span>
        <div style="margin:15px 0;" class="summary">Following the brutal murder of his parents, Bruce Wayne trains with a shadowy organization and returns to a corrupt Gotham City to deliver justice. Armed with his new skills and endless resources, he assumes a new identity and a war on crime.</div>
        <div class="specifics">
            <div><b>Cast:</b><span class="cast"></span></div>
            <div><b>Director:</b><span class="director"></span></div>
            <div><b>Award:</b><span class="award">Action &amp; Adventure</span></div>
            <div><b>Genre:</b><span class="genre">Action &amp; Adventure</span></div>
            <div><b>Format:</b><span class="format">DVD and Blu-ray</span></div>
        </div>
    </div>
</div>
<div class="modal"></div>
@section scripts{
    @Scripts.Render("~/Scripts/titles.js")
    @Scripts.Render("~/Scripts/jquery.bt.min.js")
    @Scripts.Render("~/Scripts/jquery.hoverIntent.min.js")
}