﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.title-border {
    width: 100%;
    padding: 5px 10px;
    border: solid 1px #d6d6d6;
}

.search input[type=text] {
    border: none;
    outline: none;
    height: 40px;
    padding: 0 15px;
    box-sizing: border-box;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
}

.search-box {
    padding: 20px;
    max-width: 980px;
    background-color: #d6d6d6;
}

.search-field {
    background-color: #212121;
    color: #d6d6d6;
    font-size: 14px;
    width: 85%;   
}

@media (max-width: 991px) {
  .search-btn {
      display: none;
  }
}


.row-pad {
    margin-bottom: 10px;
}

#titleDetail {
    display: none;
}

#titleDetail h2 {
    margin: 0; 
    color: #FFF; 
    background-color: #ec008c; 
    padding: 10px; 
    -moz-border-radius-topleft: 10px; 
    -moz-border-radius-topright: 10px; 
    -webkit-border-top-left-radius: 10px; 
    -webkit-border-top-right-radius: 10px
}

#titleDetail span {
    margin-left: 5px;
}

.modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url('http://i.stack.imgur.com/FhHRx.gif') 
                50% 50% 
                no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;   
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .modal {
    display: block;
}

